<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mobiluyg"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Network.model.FeedbackRequest"
            android:exported="false" />
        <!-- Kategori ekleme -->
        <activity
            android:name=".AddCategoryActivity"
            android:exported="false"
            android:theme="@style/Theme.Mobiluyg" /> <!-- Profil düzenleme -->
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" /> <!-- OTP Doğrulama -->
        <activity
            android:name=".OtpValidationActivity"
            android:exported="false" /> <!-- Şifremi unuttum -->
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" /> <!-- Şifre sıfırlama -->
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" /> <!-- Ders listesi / detayları -->
        <activity
            android:name=".LessonActivity"
            android:exported="false"
            android:launchMode="singleTop" /> <!-- Geri bildirimler -->
        <activity
            android:name=".FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".FeedbackActivity2"
            android:exported="false" />
        <activity
            android:name=".FeedbackDetailActivity"
            android:exported="false" /> <!-- Kullanıcı listesi / detayları -->
        <activity
            android:name=".UserActivity"
            android:exported="false" /> <!-- Soru ekranı -->
        <activity
            android:name=".QuestionActivity"
            android:exported="false" />
        <activity
            android:name=".SendQuestionActivity"
            android:exported="false" /> <!-- Sınav ekranı -->
        <activity
            android:name=".ExamActivity"
            android:exported="false" /> <!-- Admin ana sayfa -->
        <activity
            android:name=".AdminHomeActivity"
            android:exported="false" /> <!-- Kategori ekranı -->
        <activity
            android:name=".CategoryActivity"
            android:exported="false"
            android:launchMode="singleTop" /> <!-- Profil ekranı -->
        <activity
            android:name=".ProfileActivity"
            android:exported="false" /> <!-- Favoriler -->
        <activity
            android:name=".FavoritesActivity"
            android:exported="false" /> <!-- Kullanıcı ana sayfa -->
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:launchMode="singleTop" /> <!-- Yükleniyor / loading ekranı -->
        <activity
            android:name=".LoadingActivity"
            android:exported="false" /> <!-- Giriş / kayıt -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" /> <!-- Splash ilk açılan ekran -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Dosya paylaşımı için provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>